@import "tailwindcss";

:root {
  --background: #f2f3f4;
  --foreground: #1a1a1a;
  --primary-color: #6366f1;
  --border-color: #e5e7eb;
  --border-color-2: #d1d5db;
  --alt-color: #ffffff;
  --alt-color-2: #f2f2f2;
  --alt-color-hover: #d1d5db;
  --alt-color-3: #6b7280;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--alt-color) transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

input {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  color: #1a1a1a;
  border-radius: 100px;
}

input:hover {
  border: 1px solid #d1d5db;
  transition: all;
  transition-duration: 0.3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #1a1a1a !important;
  -webkit-background-clip: padding-box;
  border-radius: 9999px !important;
  transition: background-color 5000s ease-in-out 0s;
}

