@import "tailwindcss";

:root {
  --bg-primary: #181818;
  --bg-secondary: #212121;
  --bg-tertiary: #2e2e2e;
  --foreground: #ffffff;
  --border-primary: #303030;
  --border-secondary: #393939;
  --primary: #3cc087;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-secondary) transparent;
}

body {
  background: var(--bg-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes modalGrow {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modalGrow {
  animation: modalGrow 0.2s ease-out forwards;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-secondary) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  transition: background-color 9999s ease-in-out 0s;
  caret-color: var(--foreground);
}
